.ThemeXPTreeLevel0 { /*主項目*/
	BORDER: 0px;
	PADDING: 0px;
	CURSOR: default;
	WHITE-SPACE: nowrap;
	/*BACKGROUND-COLOR: white*/
}
.ThemeXPTreeLevel1 {
	PADDING: 0px 0px 0px 15px;
	CURSOR: default;
	BORDER-right: 1px solid #FDC52D;
	BORDER-left: 1px solid #FDC52D;
	WHITE-SPACE: nowrap;
	text-align:left;
	width:160px;
	BACKGROUND:#FFFFF0 url(../images/sider_bg.gif) repeat-x bottom;
}
.ThemeXPTreeLevel1 {
	DISPLAY: none; /*subitem*/
}
.ThemeXPTable {
	PADDING: 0px;
	/*BORDER: 1px solid #000000;*/
	CURSOR: default;
	/*WHITE-SPACE: nowrap;*/
	/*BORDER-COLLAPSE: separate;*/
}
.ThemeXPRow {
	BORDER: 0px;
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPRowHover {
	BORDER: 0px;
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPRowActive {
	BORDER: 0px;
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPRowSelected {
	BORDER: 0px;
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPFolderSpacer {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPItemSpacer {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPFolderLeft {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPItemLeft {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPFolderText {
	COLOR:#FFFFFF;
	FONT-SIZE: 10pt;
	FONT-FAMILY: Verdana, Arial, "sans-serif";
	WHITE-SPACE: nowrap;
}
.ThemeXPItemText {
	COLOR:#446D8C;
	FONT-SIZE:13px;
	FONT-FAMILY: Verdana, Arial, "sans-serif";
	WHITE-SPACE: nowrap;
}
.ThemeXPFolderRight {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPItemRight {
	PADDING: 0px;
	BORDER: 0px;
	WHITE-SPACE: nowrap;
}
.ThemeXPFolderText A {
	PADDING: 1px;
	TEXT-DECORATION: none;
	text-align:left;
}
.ThemeXPItemText A {
	PADDING: 1px;
	TEXT-DECORATION: none;
	/*COLOR: #446D8C;*/
	COLOR:#333333;
}
.ThemeXPRowHover .ThemeXPItemText A {
	COLOR: #C40000;
	TEXT-DECORATION: none;
}
.ThemeXPRowHover .ThemeXPFolderText A {
	COLOR: #800000;
	TEXT-DECORATION: none;
}
.ThemeXPRowActive .ThemeXPItemText A {
	/*COLOR: #446D8C;*/
	COLOR: #C40000;
	TEXT-DECORATION: none
}
.ThemeXPRowActive .ThemeXPFolderText A {
	COLOR: #446D8C;
	TEXT-DECORATION: none;
}
.ThemeXPRowVisited .ThemeXPFolderText A {
	COLOR: #446D8C;
	/*BACKGROUND-COLOR: #FFFFFF;*/
	TEXT-DECORATION: none;
}
.ThemeXPRowSelected .ThemeXPFolderText A {
	COLOR: #000000;
	/*BACKGROUND-COLOR: #FFFFFF;*/
	TEXT-DECORATION: none;
}
.ThemeXPFolderSpacer IMG {
	VERTICAL-ALIGN: middle;
}
.ThemeXPItemSpacer IMG {
	VERTICAL-ALIGN: middle;
}
.ThemeXPFolderLeft IMG {
	VERTICAL-ALIGN: middle;
}
.ThemeXPItemLeft IMG {
	VERTICAL-ALIGN: middle;
}
.ThemeXPFolderRight IMG {
	VERTICAL-ALIGN: middle;
}
.ThemeXPItemRight IMG {
	VERTICAL-ALIGN: middle;
}
.JSCookTreeFolderClosed {
	text-align:left;
}
.JSCookTreeFolderOpen {

}
#JSCookTreeFolderClosed .JSCookTreeFolderOpen {
	DISPLAY: none;
}
#JSCookTreeFolderOpen .JSCookTreeFolderClosed {
	DISPLAY: none;
}
.a:link {
	/*COLOR: #446D8C;*/
	TEXT-DECORATION: none;
}
.a:visited {
	/*COLOR: #446D8C;*/
	TEXT-DECORATION: underline;
}
